.navbar_container{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    background-color: #cfa2e6;
    color: #fcfcfc;
    align-items: center;
}

.logo{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    padding: 0px;
}

.nav_button{
    background-color: #fcfcfc;
    border: 1px solid #fcfcfc;
    color: #cfa2e6;
    padding: 8px;
    width: 121px;
    border-radius: 8px;
    cursor: pointer;
    transition: 1s;
}

.nav_button:hover{
    background-color: #cfa2e6;
    border: 1px solid #650b93;
    color: #fcfcfc;
}